<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kentuckyspacetracker"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="16" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- Splash screen -->
        <activity
            android:name="com.kentuckyspacetracker.SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Main Activity-->
        <activity
            android:name="com.kentuckyspacetracker.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>

        <!--Help Activity -->
        <activity
            android:name="com.kentuckyspacetracker.AboutLauncherActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>

        <!-- Static Tracker Activity-->
        <activity
            android:name="com.kentuckyspacetracker.HeavensAbove"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>

        <!--Virtual Tour Activity -->
        <activity
            android:name="com.kentuckyspacetracker.NewAbout"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>

    </application>

    <!--Enable Permissions-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

</manifest>
